<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dell Site | Dell India</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index.html"><img src="img/DELL/d2.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="category.html">Products</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Solutions</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="#">View all Solutions</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Big Data</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Cloud</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Data Centre</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Internet of Things</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Services</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="#">View all Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="#"> Support services for Home</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Support</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="#">Product Support</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Knowledge Base</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Warranty and Contracts</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Service Requests</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Order Support</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Deals</a></li>
                    </ul>

                    <ul class="nav-shop">
                        <li class="nav-item"><button><i class="ti-search"></i></button></li>
                        <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
                        <li class="nav-item"><a class="button button-header" href="cart.html">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->

<main class="site-main">

    <!--================ Hero banner start =================-->
    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="img/DELL/Screenshot 2019-11-16 at 10.10.03 PM.png" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">

                        <h1>Get the latest to perform the fastest</h1>
                        <p>Us which over of signs divide dominion deep fill bring they're meat beho upon own earth without morning over third. Their male dry. They are great appear whose land fly grass.</p>
                        <a class="button button-hero" href="cart.html">Buy Now</a>
                        <a class="button button-hero" href="category.html">Shop Gaming Laptop-G Series</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Hero banner start =================-->
    <br>
    <!--================ Hero Carousel start =================-->
    <section class="section-margin mt-0">
        <div class="owl-carousel owl-theme hero-carousel">
            <div class="hero-carousel__slide">
                <img src="img/DELL/lap1.jpg" alt="" class="img-fluid">
                <a href="category.html" class="hero-carousel__slideOverlay">
                    <h3>Laptops</h3>

                </a>
            </div>
            <div class="hero-carousel__slide">
                <img src="img/DELL/des2.png" alt="" class="img-fluid">
                <a href="#" class="hero-carousel__slideOverlay">
                    <h3>Desktops and AOI</h3>

                </a>
            </div>
            <div class="hero-carousel__slide">
                <img src="img/DELL/ass.png" alt="" class="img-fluid">
                <a href="#" class="hero-carousel__slideOverlay">
                    <h3>PC Accessories</h3>

                </a>
            </div>
        </div>
    </section>
    <!--================ Hero Carousel end =================-->

    <!-- ================ recommendations carousel start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <h2><span class="section-intro__style">Recommendations</span> for You</h2>
            </div>
            <div class="owl-carousel owl-theme" id="bestSellerCarousel">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="<%=image_1%>" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
<!--                        <p>Gaming | 8 GB | i7 | 1.0TB Hybrid</p>-->
                        <h4 class="card-product__title"><a href="single-product.html"><%= series1%></a></h4>
                        <p class="card-product__price">Rs.<%= product_title%></p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="<%= image_2%>" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
<!--                        <p>Gaming |16 GB | i7 | 256GB SSD</p>-->
                        <h4 class="card-product__title"><a href="single-product.html"><%= series2%></a></h4>
                        <p class="card-product__price">Rs. <%= product_title2%></p>
                    </div>
                </div>

                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="img-fluid" src="<%= image_3%>" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <!--                        <p>Gaming |16 GB | i7 | 256GB SSD</p>-->
                        <h4 class="card-product__title"><a href="single-product.html"><%= series3%></a></h4>
                        <p class="card-product__price">Rs. <%= product_title3%></p>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- ================ recommendations carousel end ================= -->

    <!-- ================ offer section start ================= -->
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="offer__content text-center">
                        <h3>Exchange Your Old Laptop</h3>
                        <h4>Black Friday Sale</h4>
                        <p>Get a Striking Deal</p>
                        <a class="button button--active mt-3 mt-xl-4" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ offer section end ================= -->

    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Popular Items in the market</p>
                <h2><span class="section-intro__style">Trending</span> Products</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="img/DELL/Dell Thunderbolt Dock.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li><button><i class="ti-search"></i></button></li>
                                <li><button><i class="ti-shopping-cart"></i></button></li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Accessories</p>
                            <h4 class="card-product__title"><a href="single-product.html">Dell Thunderbolt Dock</a></h4>
                            <p class="card-product__price">Rs. 21890.00</p>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6 col-lg-4 col-xl-3">-->
<!--                    <div class="card text-center card-product">-->
<!--                        <div class="card-product__img">-->
<!--                            <img class="card-img" src="img/DELL/Alienware 25 Gaming Monitor.jpg" alt="">-->
<!--                            <ul class="card-product__imgOverlay">-->
<!--                                <li><button><i class="ti-search"></i></button></li>-->
<!--                                <li><button><i class="ti-shopping-cart"></i></button></li>-->

<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <p>Desktop</p>-->
<!--                            <h4 class="card-product__title"><a href="single-product.html">Alienware 25 Gaming Monitor</a></h4>-->
<!--                            <p class="card-product__price">Rs. 43999.00</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-4 col-xl-3">-->
<!--                    <div class="card text-center card-product">-->
<!--                        <div class="card-product__img">-->
<!--                            <img class="card-img" src="img/DELL/pro.jpg" alt="">-->
<!--                            <ul class="card-product__imgOverlay">-->
<!--                                <li><button><i class="ti-search"></i></button></li>-->
<!--                                <li><button><i class="ti-shopping-cart"></i></button></li>-->
<!--                                &lt;!&ndash;-<li><button><i class="ti-heart"></i></button></li>&#45;&#45;&ndash;&gt;-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <p>Accessories</p>-->
<!--                            <h4 class="card-product__title"><a href="single-product.html">Alienware-pro gaming keyboard</a></h4>-->
<!--                            <p class="card-product__price">Rs. 7999.00</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="img/DELL/Dell Adapter-Mini DisplayPort to VGA.jpg" alt="">
                            <ul class="card-product__imgOverlay">
                                <li><button><i class="ti-search"></i></button></li>
                                <li><button><i class="ti-shopping-cart"></i></button></li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <p>Decor</p>
                            <h4 class="card-product__title"><a href="single-product.html">Dell Adapter-Mini DisplayPort</a></h4>
                            <p class="card-product__price">RS. 353</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ==================== trending products section end ==================== -->

            <!-- ==================== Top picks for you start ===================-->
            <div class="container">
                <div class="section-intro pb-60px">
                    <p>Based on your search history</p>
                    <h2><span class="section-intro__style">Top Picks</span> for you</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="img/DELL/Alienware Advanced Gaming Mouse- AW558.jpg" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li><button><i class="ti-search"></i></button></li>
                                    <li><button><i class="ti-shopping-cart"></i></button></li>

                                </ul>
                            </div>
                            <div class="card-body">
                                <p>Accessories</p>
                                <h4 class="card-product__title"><a href="single-product.html">Alienware Advanced Gaming Mouse- AW558h</a></h4>
                                <p class="card-product__price">Rs. 4299.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="img/DELL/Kit-Dell Premier Wireless Mouse.jpg" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li><button><i class="ti-search"></i></button></li>
                                    <li><button><i class="ti-shopping-cart"></i></button></li>

                                </ul>
                            </div>
                            <div class="card-body">
                                <p>Accessories</p>
                                <h4 class="card-product__title"><a href="single-product.html">Kit-Dell Premier Wireless Mouse</a></h4>
                                <p class="card-product__price">Rs. 2499.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="img/DELL//Dell Alienware 13 Vindicator.jpg" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li><button><i class="ti-search"></i></button></li>
                                    <li><button><i class="ti-shopping-cart"></i></button></li>
                                    <!---<li><button><i class="ti-heart"></i></button></li>---->
                                </ul>
                            </div>
                            <div class="card-body">
                                <p>Accessories</p>
                                <h4 class="card-product__title"><a href="single-product.html">Dell Alienware 13 Vindicator</a></h4>
                                <p class="card-product__price">Rs. 13320.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-center card-product">
                            <div class="card-product__img">
                                <img class="card-img" src="img/DELL/Alienware 25 Gaming Monitor.jpg" alt="">
                                <ul class="card-product__imgOverlay">
                                    <li><button><i class="ti-search"></i></button></li>
                                    <li><button><i class="ti-shopping-cart"></i></button></li>

                                </ul>
                            </div>
                            <div class="card-body">
                                <p>Desktop</p>
                                <h4 class="card-product__title"><a href="single-product.html">Alienware 25 Gaming Monitor</a></h4>
                                <p class="card-product__price">Rs. 44000.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===================top picks for you end ===================== -->
    </section>


    <!-- ================ Subscribe section start ================= -->
    <section class="subscribe-position">
        <div class="container">
            <div class="subscribe text-center">
                <h3 class="subscribe__title">What are you shopping for today?</h3>
                <p>Do you need help with a product? Visit <a href="#">Dell Support</a></p>
                <div id="mc_embed_signup">
                    <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
                        <div class="form-group ml-sm-auto">
                            <input class="form-control mb-1" type="email" name="EMAIL" placeholder="I am interested in" onfocus="this.placeholder = ''" onblur="this.placeholder = 'I am interested in'" >
                            <input class="form-control mb-1" type="email" name="EMAIL" placeholder="To use" onfocus="this.placeholder = ''" onblur="this.placeholder = 'To use'" >
                            <div class="info"></div>
                        </div>
                        <button class="button button-subscribe mr-auto mb-1" type="submit">Find</button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- ================ Subscribe section end ================= -->



</main>


<!--================ Start footer Area  =================-->
<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-md-6 col-sm-3 col-sm-3">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title">Driven by Technology </h4>
                        <p>
                            Here at Dell, a member of the Dell Technologies family of brands, there are endless challenges and rewards. Opportunities across the globe. A team fueled by collaboration.
                            A culture that fosters innovation and values a diverse and inclusive workplace. We’re made up of strong, smart people dedicated to doing their best work and driving success for our customers.
                        </p>
                        <p>

                        </p>
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">Contact Us</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-location-arrow"></span>
                                Head Office
                            </p>
                            <p>No.65/2, Bagmane Tech Park, Bairasandra Main Rd, Byrasandra, C V Raman Nagar, Bengaluru, Karnataka 560093</p>

                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                Phone Number
                            </p>
                            <p>
                                080-2510-8037 (Land Line) <br>
                                1800-425-0088 (Toll Free)
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->



<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
</body>
</html>
